<footer class="footer arabic ">
    <div class="container-fluid poppins"> 
        <div class="row">
            <div class="col-md-4 mt-4 center">
                <img class="center" src="assets/home/crown.png" width="20%" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mt-4 center">
                <h2 class="h2-responsive text-center" style="letter-spacing: 5px;">
                    AKKAD WATCHES
                </h2>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-8 center">
                <p class="text-muted text-center" style="font-size: 20px;">
                    The Akkad family name in Syria is famous and known for its watch maintenance and selling profession.
                    I started working in the field of maintaining automatic and quartz watches since 1984 in Syria. I took the profession from my father, who started it in 1951. I went to Australia in 2014.
                </p>
            </div>
        </div>
        <div class="row mt-4 mb-5 show">
            <div class="col-md-3 center">
                <div class="row">
                    <div class="col-md-1 center">
                        <a  href="https://www.facebook.com/yosbook" target="_blank">
                            <i class="fab fa-facebook-f" style="color:#ffffff;font-size: 30px;"></i>
                        </a>
                    </div>
                    <div class="col-md-1 center">
                        <a href="https://www.instagram.com/yosbook/" target="_blank">
                            <i class="fab fa-instagram" style="color: #ffffff;font-size: 30px;"></i>
                        </a>
                    </div>
                    <div class="col-md-1 center">
                        <a href="https://www.instagram.com/yosbook/" target="_blank">
                            <i class="fab fa-twitter" style="color: #ffffff;font-size: 30px;"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4 mb-5 unshow">
            <div class="col-9 center">
                <div class="row">
                    <div class="col-3 center">
                        <a  href="https://www.facebook.com/yosbook" target="_blank">
                            <i class="fab fa-facebook-f" style="color:#ffffff;font-size: 30px;"></i>
                        </a>
                    </div>
                    <div class="col-3 center">
                        <a href="https://www.instagram.com/yosbook/" target="_blank">
                            <i class="fab fa-instagram" style="color: #ffffff;font-size: 30px;"></i>
                        </a>
                    </div>
                    <div class="col-3 center">
                        <a href="https://www.instagram.com/yosbook/" target="_blank">
                            <i class="fab fa-twitter" style="color: #ffffff;font-size: 30px;"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>