<div class="show">
    <div class=" pt-5 pb-5" style=" background-color: #000;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mt-5 poppins">
                    <h1 style="color:  rgb(255, 255, 255); letter-spacing: 10px;">
                        BUILT TO LAST <br>
                        LIFETIME
                    </h1>
                    <div class=" mt-4">
                        <div class="col-md-4 bold-line" style="float: left;">

                        </div>
                    </div>
                 
                    <h5 style="color: #fff;margin-top: 10%;">
                        With regard to the experience: <br>
                        I started working in the field of maintaining automatic and quartz watches since 1984 in Syria.
                       I took the profession from my father, who started it in 1951.
                    </h5>
                </div>
                <div class="col-md-6">
                    <img class="center" src="assets/home/header.png" width="50%" alt="">
                </div>
            </div>
        </div>
    </div>
</div>


    <div class=" pt-5 pb-5" style=" background-color: #000;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="center" src="assets/home/header.png" width="50%" alt="">
                </div>
                <div class="col-12 mt-5 poppins">
                    <h4 style="color:  rgb(255, 255, 255); letter-spacing: 10px;text-align: center;">
                        BUILT TO LAST <br> <br>
                        LIFETIME
                    </h4>
                    <div class="col-8 center mt-4">
                        <div class="center bold-line" >

                        </div>
                    </div>
                 
                    <h6 style="color: #fff;margin-top: 10%;text-align: center;">
                        With regard to the experience: <br>
                        I started working in the field of maintaining automatic and quartz watches since 1984 in Syria.
                       I took the profession from my father, who started it in 1951.
                    </h6>
                </div>
              
            </div>
        </div>
    </div>


<div class="container-fluid poppins" style="margin-top: 8%;">
    <div class="col-md-11 center show">
        <div class="row">
            <div class="col-md-3 center">
                <div class="card" style="background-color: rgb(241, 241, 241);">
                    <h3 class="text-center mt-4" style="letter-spacing: 5px;font-weight: 300;">
                        NEW ARRIVAL
                    </h3>
                    <p style="letter-spacing: 8px;text-align: center;">
                        EXPLORE
                    </p>
                    <div class="col-md-5 bold-line2 center" >

                    </div>
                    <img class="center mt-4 mb-4" src="assets/home/body1.png" width="50%" alt="">
                </div>
            </div>
            <div class="col-md-3 center">
                <div class="card" style="background-color: rgb(241, 241, 241);">
                    <h3 class="text-center mt-4" style="letter-spacing: 5px;font-weight: 300;">
                        NEW ARRIVAL
                    </h3>
                    <p style="letter-spacing: 8px;text-align: center;">
                        EXPLORE
                    </p>
                    <div class="col-md-5 bold-line2 center" >

                    </div>
                    <img class="center mt-4 mb-4" src="assets/home/body2.png" width="50%" alt="">
                </div>
            </div>
            <div class="col-md-3 center">
                <div class="card" style="background-color: rgb(241, 241, 241);">
                    <h3 class="text-center mt-4" style="letter-spacing: 5px;font-weight: 300;">
                        NEW ARRIVAL
                    </h3>
                    <p style="letter-spacing: 8px;text-align: center;">
                        EXPLORE
                    </p>
                    <div class="col-md-5 bold-line2 center" >

                    </div>
                    <img class="center mt-4 mb-4" src="assets/home/body3.png" width="50%" alt="">
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-11 center unshow">
        <div class="row">
            <div class="col-md-3 center">
                <div class="card" style="background-color: rgb(241, 241, 241);">
                    <h3 class="text-center mt-4" style="letter-spacing: 5px;font-weight: 300;">
                        NEW ARRIVAL
                    </h3>
                    <p style="letter-spacing: 8px;text-align: center;">
                        EXPLORE
                    </p>
                    <div class="col-md-5 bold-line2 center" >

                    </div>
                    <img class="center mt-4 mb-4" src="assets/home/body1.png" width="50%" alt="">
                </div>
            </div>
            <div class="col-md-3 mt-4 center">
                <div class="card" style="background-color: rgb(241, 241, 241);">
                    <h3 class="text-center mt-4" style="letter-spacing: 5px;font-weight: 300;">
                        NEW ARRIVAL
                    </h3>
                    <p style="letter-spacing: 8px;text-align: center;">
                        EXPLORE
                    </p>
                    <div class="col-md-5 bold-line2 center" >

                    </div>
                    <img class="center mt-4 mb-4" src="assets/home/body2.png" width="50%" alt="">
                </div>
            </div>
            <div class="col-md-3 mt-4 center">
                <div class="card" style="background-color: rgb(241, 241, 241);">
                    <h3 class="text-center mt-4" style="letter-spacing: 5px;font-weight: 300;">
                        NEW ARRIVAL
                    </h3>
                    <p style="letter-spacing: 8px;text-align: center;">
                        EXPLORE
                    </p>
                    <div class="col-md-5 bold-line2 center" >

                    </div>
                    <img class="center mt-4 mb-4" src="assets/home/body3.png" width="50%" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 6%;">
      <div class="col-md-3 center">
        <img class="center" src="assets/home/crown.png" width="30%" alt="">
      </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12 show">
            <h1 class="poppins text-center inset" style="letter-spacing: 3px;font-weight: 500;">
                HISTORY OF AKKAD
            </h1>
        </div>
        <div class="col-md-12 unshow inset">
            <h3 class="poppins text-center" style="letter-spacing: 3px;font-weight: 500;">
                HISTORY OF AKKAD
            </h3>
        </div>
        <div class="col-md-1 bold-line2 center mt-3"></div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6 center">
            <p class="text-muted text-center">
                I started working in the field of maintaining automatic and quartz watches since 1984 in Syria.
                I took the profession from my father, who started it in 1951.
                I went to Australia in 2014. <br>
                5 years after founding (2019) I started my favorite business in Melbourne....
            </p>
        </div>
    </div>
</div>
<div class="row" style="margin-left: 0px !important; margin-right: 0px !important;margin-top: 8%;">
    <div class="col-md-4" style="padding-left: 0px !important; padding-right: 0px !important;">
        <img src="assets/home/st2.jpg" width="100%" alt="">
    </div>
    <div class="col-md-4" style="padding-left: 0px !important; padding-right: 0px !important;">
        <img src="assets/home/st1.jpg" width="100%" alt="">
    </div>
    <div class="col-md-4" style="padding-left: 0px !important; padding-right: 0px !important;">
        <img src="assets/home/st3.jpg" width="100%" alt="">
    </div>
    <div class="col-md-12 poppins pb-5 show" style="padding-left: 0px !important; padding-right: 0px !important; background-color: rgb(241, 241, 241);">
        <div class="row" style="margin-left: 0px !important; margin-right: 0px !important;margin-top: 3%;">
            <div class="col-md-4">
                <h1 class="text-center" style="font-size: 70px;">
                    86
                </h1>
                <h4 class="text-center mt-4 " style="letter-spacing: 5px; color: rgb(238, 202, 0);">
                    SPECIAL EDITIONS
                </h4>
            </div>
            <div class="col-md-4">
                <h1 class="text-center" style="font-size: 70px;">
                    56
                </h1>
                <h4 class="text-center  mt-4" style="letter-spacing: 5px; color: rgb(238, 202, 0);">
                    CUSTOMERS
                </h4>
            </div>
            <div class="col-md-4">
                <h1 class="text-center" style="font-size: 70px;">
                    86
                </h1>
                <h4 class="text-center  mt-4" style="letter-spacing: 5px; color: rgb(238, 202, 0);">
                    EDITORIAL WATCHS
                </h4>
            </div>
        </div>
    </div>

    <div class="col-md-12 poppins pb-5 unshow" style="padding-left: 0px !important; padding-right: 0px !important; background-color: rgb(241, 241, 241);">
        <div class="row" style="margin-left: 0px !important; margin-right: 0px !important;margin-top: 3%;">
            <div class="col-md-4 mt-4">
                <h1 class="text-center" style="font-size: 70px;">
                    86
                </h1>
                <h4 class="text-center mt-4" style="letter-spacing: 5px; color: rgb(238, 202, 0);">
                    SPECIAL EDITIONS
                </h4>
            </div>
            <div class="col-md-4 mt-4">
                <h1 class="text-center" style="font-size: 70px;">
                    56
                </h1>
                <h4 class="text-center  mt-4" style="letter-spacing: 5px; color: rgb(238, 202, 0);">
                    CUSTOMERS
                </h4>
            </div>
            <div class="col-md-4 mt-4">
                <h1 class="text-center" style="font-size: 70px;">
                    86
                </h1>
                <h4 class="text-center  mt-4" style="letter-spacing: 5px; color: rgb(238, 202, 0);">
                    EDITORIAL WATCHS
                </h4>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid show" style="margin-top: 5%;">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-4 poppins" style="margin-top: 5%;">
            <h2 class="inset" style="letter-spacing: 2px;font-weight: 300;">
                AKKAD WATCHES
            </h2>
            <div class="col-md-2 bold-line2 mt-4"></div>
            <p class="mt-4 text-muted">
                We here present the most stylish, unique and greatest kinds of wristwatch by SKMEI, Naviforce and many other trusted brands. 
                We also sale watch battries, Movements,  and accessories of watches.
                Wear the latest we are the greatest! We are launching our new online watch selling.  
                The watches we sell are all adjustable and comfortable while wearing. There are also alarm in digital watches. We sell Automatic, Battery, Digital, Waterproofed Watches. We have home delivery service. 
                Visit us on website. 
                            </p>
            <h3 class="mt-5" style="letter-spacing: 8px;color: rgb(238, 202, 0);">
                LEARN MORE
            </h3>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <img src="assets/home/sp.png" width="80%" alt="">
        </div>
    </div>
</div>

<div class="container-fluid unshow" style="margin-top: 5%;">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-4 poppins" style="margin-top: 5%;">
            <h3 class="inset" style="letter-spacing: 2px;font-weight: 300;text-align: center;">
                AKKAD WATCHES
            </h3>
            <div class="col-8 center bold-line2 mt-4"></div>
            <p class="mt-4 text-muted text-center">
                We here present the most stylish, unique and greatest kinds of wristwatch by SKMEI, Naviforce and many other trusted brands. 
                We also sale watch battries, Movements,  and accessories of watches.
                Wear the latest we are the greatest! We are launching our new online watch selling.  
                The watches we sell are all adjustable and comfortable while wearing. There are also alarm in digital watches. We sell Automatic, Battery, Digital, Waterproofed Watches. We have home delivery service. 
                Visit us on website. 
                            </p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <img class="center" src="assets/home/sp.png" width="80%" alt="">
        </div>
    </div>
</div>

<div class="row" style="margin-left: 0px !important; margin-right: 0px !important;margin-top: 5%; background-color: #000;">
    <div class="col-md-10 center pt-5 pb-5">
        <img class="center" src="assets/home/underfooter.jpg" width="90%" alt="">
    </div>
</div>

<div class="col-md-12 center" style="padding-left: 0px !important; padding-right: 0px !important;">
    <div class="row" style="margin-left: 0px !important; margin-right: 0px !important;">
        <div class="col-md-6" style="padding-left: 0px !important; padding-right: 0px !important;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3155.212292199023!2d145.02747631532796!3d-37.738163537494266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad64526e7322edb%3A0xde97588607297752!2sAkkad%20Watches!5e0!3m2!1sen!2str!4v1624825537857!5m2!1sen!2str" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="col-md-6 poppins" style="padding-left: 0px !important; padding-right: 0px !important;margin-top: 5%;">
            <h2 class="h2-responsive text-center inset" style="letter-spacing: 5px;font-weight: 300;">
                FIND OUR STORE
            </h2>
            <div class="col-md-2 bold-line2 center mt-4"></div>
            <p class="text-center text-muted mt-5" style="font-size: 20px;">
                Northland Shopping Centre, <br> 2-50 Murray Rd, Preston VIC 3072
            </p>
            <p class="text-center text-muted mt-3" style="font-size: 20px;">
                0456 528 881
            </p>
            <p class="text-center text-muted mt-2" style="font-size: 20px;">
                Email: AkkadWatches@hotmail.com
            </p>
        </div>
    </div>
</div>
